<configuration>
	<property name="LOG_OUTPUT_DIR" value="/tmp/" />
	<property name="LOG_FILE_NAME" value="DEMO" />
	<property name="DEFAULT_LOG_LEVEL" value="DEBUG" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_OUTPUT_DIR}/${LOG_FILE_NAME}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_OUTPUT_DIR}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS}|%level|%class:%line|%msg|%ex%n</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<root level="${DEFAULT_LOG_LEVEL}">
		<appender-ref ref="FILE"/>
	</root>

</configuration>
